<%- include("partials/header"); -%>

<div class="text-center centering-login">
    <a href="/login" class="btn btn-dark btn-lg">Login</a>
    <a href="/register" class="btn btn-light btn-lg">Register</a>
</div>

    

<%- include("partials/footer"); -%>
